
<div id="page-wrapper">
    <div class="pad">

  	<div id = "site-reports-not-permitted" class="error hidden">
	    <p><strong>Security Warning</strong></p>
	    <p>You do not have privileges to access this page.</p>
	</div>

        <div id="site-reports-tabs">
                    <div class="content-tabs xnat-tab-container">
                    </div>
        </div>

        <script>
            (function(){

		CCF.sr.populate();

            }())
        </script>

    </div>
</div>

